extends layout

block body
    div(ng-controller='AppCtrl')
        h2 Hello {{name}}
        ul.menu
            li
                a(href='view1') view1
            li
                a(href='view2') view2

        div(ng-view)

block footer
    div
        | Angular seed app: v
        span(app-version)
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/angular-ui/ui-bootstrap-0.4.0.min.js')
    script(src='js/lib/angular-ui/ui-bootstrap-tpls-0.4.0.min.js')
    script(src='js/client/app.js')

