extends layout

block body
    div(ng-controller='AppCtrl')
        div.span3
            div.well
                ul.nav.nav-list
                    li.nav-header(enter="")
                        | main menu
                    navigation-item(ng-repeat="menuItem in menuItems", link='{{menuItem.link}}', title='{{menuItem.title}}')

        div.span9
            div(ng-view)


block footer
    script(src='js/app.js')

