!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Node.js + Angular.js + twitter bootstrap
    //Css
    link(rel='stylesheet', href='/js/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/js/lib/bootstrap/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")

  body
    div.container
        div.row-fluid
            block body
    footer
        block footer